<div class="container">
    <% obj.each do |a| %>
        <div class="row justify-content-md-center">
            <div class="col-8 mt-4">
                <div class="card text-center shadow mb-5 bg-white rounded">
                <div class="card-header">
                    Created by: <%= a.user.username if a.user %>
                </div>
                <div class="card-body">
                    <h5 class="card-title"><%= link_to a.title, article_path(a), class: "text-success" %></h5>
                   <div class="card-text text-left"><%= simple_format(a.description) %></div>
                    
                    <% if a.categories.any? %>
                    <p>Categories: <%= render a.categories %></p>
                    <% end %>

                    <% if logged_in? && (current_user == a.user || current_user.admin?) %>
                    <%= link_to "View", article_path(a), class: "btn btn-outline-success" %>
                    <%= link_to "Edit", edit_article_path(a), class: "btn btn-outline-info" %>
                    <%= link_to "Delete", article_path(a), method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-outline-danger" %>
                    <% end %>

                </div>
                <div class="card-footer text-muted">
                    <small>
                    Created: <%= time_ago_in_words(a.created_at) %> ago,
                    Updated: <%= time_ago_in_words(a.updated_at) %> ago
                    </small>
                </div>
                </div>
            </div>
        </div>
    <% end %>
</div>