<h1 align="center">All Barstow Bloggers</h1>

<div class="d-flex justify-content-center">
    <%= will_paginate %>
</div>

<div class="container">
    <% @users.each do |user| %>

    <div class="row d-flex justify-content-center p-2">
        <div class="card" style="width: 18rem;">
            <div class="card-body text-center">
                <div class="container">
                    <%= link_to gravatar_for(user), user_path(user), class: "card-body" %><br/>
                    <%= link_to user.username, user_path(user), class: "card-body" %><br/>
                    <small><%= pluralize(user.articles.count, "article") if user.articles %></small>
                </div>    

                <% if logged_in? and current_user.admin? %>
                <%= link_to "Delete this user", user_path(user), method: :delete, class: "card-link", data: { confirm: "Are you sure?" } %>
                <% end %>
            </div>
        </div>   
    </div>

    <% end %>
</div>

<div class="d-flex justify-content-center">
    <%= will_paginate %>
</div>